table,
.divTable {
  border: 1px solid lightgray;
  width: fit-content;
}

.tr {
  display: flex;
}

tr,
.tr {
  width: fit-content;
}

th,
.th,
td,
.td {
  box-shadow: inset 0 0 0 1px lightgray;
  padding: 0.25rem;
}

th,
.th {
  padding: 2px 4px;
  position: relative;
}

.resizer {
  position: absolute;
  right: 0;
  top: 2%;
  border-radius: 20%;
  width: 4px;
  background: rgba(0, 0, 0, 0.5);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: var(--active);
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
    height: 98%;
  }

  *:hover > .resizer {
    opacity: 1;
    background: var(--active);
  }
}

